.App {
  text-align: center;
}

.food-image {
  width: 40%;
  border-radius: 10%;
  cursor: pointer;
}

.add-icon {
  cursor: pointer;
}

.food-type-text {
  color: white;
}

.whatsapp {
  width: 40px;
  top: 90%;
  left: 93%;
  position: fixed;
  cursor: pointer;
}

body {
  background-color: rgb(6, 97, 6);
}